<!-- <mat-toolbar color="primary">
  <span>{{title}}</span>
  <span class="spacer"></span>
  <button mat-raised-button routerLink="/view">View</button>
  <button mat-raised-button routerLink="/add">Add</button>
</mat-toolbar> -->

<!-- <div *ngIf="post | async">
  <h4>Counter:{{(post | async).counter}}</h4>

  <button (click)="upCount()">UpCount</button>
  <button (click)="downCount()">DownCount</button>
  <button (click)="reset()">Reset</button>
</div> -->
<label for="">Enter the email</label>
<input type="text">
<button (click)="notifyMe()">Press</button>

<!-- <router-outlet></router-outlet> -->